# Cloud Workshop Microsoft

## 1. Préparation des données avec Azure ML Service

> https://docs.microsoft.com/fr-fr/python/api/overview/azure/dataprep/intro?view=azure-dataprep-py

## 1.1 Paramétrage

In [3]:
# Mise à jour
#!pip install --upgrade azureml-dataprep

In [2]:
import azureml.core
print("Version Azure ML service :", azureml.core.VERSION)

Version Azure ML service : 1.0.21

In [4]:
from IPython.display import display
from os import path
from tempfile import mkdtemp

import pandas as pd
import azureml.dataprep as dprep

## 2. Importation des données

Azure ML Data Prep supports many different file reading formats (i.e. CSV, Excel, Parquet), and also offers the ability to infer column types automatically.

In [5]:
gobike = dprep.auto_read_file(path="https://dprepdata.blob.core.windows.net/demo/ford_gobike/2017-fordgobike-tripdata.csv")

In [6]:
gobike.head(10)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.654,2018-01-01 15:12:50.245,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,78800,2017-12-31 15:56:34.842,2018-01-01 13:49:55.617,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female
2,45768,2017-12-31 22:45:48.411,2018-01-01 11:28:36.883,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,
3,62172,2017-12-31 17:31:10.636,2018-01-01 10:47:23.531,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,
4,43603,2017-12-31 14:23:14.001,2018-01-01 02:29:57.571,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female
5,9226,2017-12-31 22:51:00.918,2018-01-01 01:24:47.166,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,1487,Customer,NaN,
6,4507,2017-12-31 23:49:28.422,2018-01-01 01:04:35.619,259,Addison St at Fourth St,37.866249,-122.299371,259,Addison St at Fourth St,37.866249,-122.299371,3539,Customer,1991.0,Female
7,4334,2017-12-31 23:46:37.196,2018-01-01 00:58:51.211,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,1503,Customer,NaN,
8,4150,2017-12-31 23:37:07.548,2018-01-01 00:46:18.308,20,Mechanics Monument Plaza (Market St at Bush St),37.791300,-122.399051,20,Mechanics Monument Plaza (Market St at Bush St),37.791300,-122.399051,3125,Customer,NaN,
9,4238,2017-12-31 23:35:38.145,2018-01-01 00:46:17.053,20,Mechanics Monument Plaza (Market St at Bush St),37.791300,-122.399051,20,Mechanics Monument Plaza (Market St at Bush St),37.791300,-122.399051,2543,Customer,NaN,

In order to iterate more quickly, we can take a sample of our data. Later, we can then apply the same transformations to the entire dataset.

In [7]:
sampled_gobike = gobike.take_sample(probability=0.01, seed=5)

## 3. Audit des données

Let's understand what our data looks like. Azure ML Data Prep facilitates this process by offering data profiles that help us glimpse into column types and column summary statistics.

In [8]:
# Audit sur l'échentillon
sampled_gobike.get_profile()

ColumnProfile:
    column_name: duration_sec
    type: FieldType.INTEGER

    min: 61.0
    max: 81686.0
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 79.67390476190475
           1%: 256.5456062291435
           5%: 254.65517241379308
          25%: 382.79212737726675
          50%: 595.377037037037
          75%: 936.6008324338469
          95%: 2257.5134546457084
          99%: 13088.732200956856
        99.9%: 56642.03786666661

    mean: 1096.7033029612767
    std: 3332.5228125316357
    variance: 11105708.296043765
    skewness: 14.361055989155963
    kurtosis: 267.0125512989012

ColumnProfile:
    column_name: start_time
    type: FieldType.DATE

    min: {'timestamp': 1498657692389}
    max: {'timestamp': 1514764509686}
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: end_time
    type: FieldType.DATE

    min: {'timestamp': 1498658404925}
    max: {'timestamp': 1514819570245}
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: start_station_id
    type: FieldType.INTEGER

    min: 3.0
    max: 340.0
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 3.0
           1%: 10.983064516129033
           5%: 10.612903225806454
          25%: 23.472768192048004
          50%: 66.86976744186046
          75%: 141.05454545454543
          95%: 288.40042016806694
          99%: 323.81422222222216
        99.9%: 324.74399999999997

    mean: 94.89578587699312
    std: 86.58862868918469
    variance: 7497.590618273498
    skewness: 1.0863386541669284
    kurtosis: 0.2694157627980025

ColumnProfile:
    column_name: start_station_name
    type: FieldType.STRING

    min: 10th Ave at E 15th St
    max: Yerba Buena Center for the Arts (Howard St at 3rd St)
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: start_station_latitude
    type: FieldType.DECIMAL

    min: 37.3229796
    max: 37.88022244590679
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 37.32557910933333
           1%: 37.761211671314285
           5%: 37.761010299999995
          25%: 37.773650214023284
          50%: 37.78380861637177
          75%: 37.795386006410254
          95%: 37.832022427501315
          99%: 37.86933615674073
        99.9%: 37.8737917

    mean: 37.77152591036754
    std: 0.08680627534767138
    variance: 0.0075353294397357395
    skewness: -4.474982045507375
    kurtosis: 19.89878207810664

ColumnProfile:
    column_name: start_station_longitude
    type: FieldType.DECIMAL

    min: -122.44429260492325
    max: -121.8766132
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -122.44429260492325
           1%: -122.42268332696551
           5%: -122.42548246643818
          25%: -122.41148557624999
          50%: -122.39878737570717
          75%: -122.39118103085723
          95%: -122.25001528695189
          99%: -121.88582283186602
        99.9%: -121.87678064672

    mean: -122.36382024449563
    std: 0.1060975221925105
    variance: 0.011256684215390257
    skewness: 3.217280197826373
    kurtosis: 11.148971250166849

ColumnProfile:
    column_name: end_station_id
    type: FieldType.INTEGER

    min: 3.0
    max: 337.0
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 3.0
           1%: 9.335802469135807
           5%: 9.0
          25%: 22.780154486036842
          50%: 66.36568959591497
          75%: 136.12685185185182
          95%: 286.65464285714285
          99%: 324.0
        99.9%: 324.74399999999997

    mean: 93.37680334092656
    std: 86.30597703403608
    variance: 7448.721671799563
    skewness: 1.1112675033371304
    kurtosis: 0.3306812473352827

ColumnProfile:
    column_name: end_station_name
    type: FieldType.STRING

    min: 10th Ave at E 15th St
    max: Yerba Buena Center for the Arts (Howard St at 3rd St)
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: end_station_latitude
    type: FieldType.DECIMAL

    min: 37.3229796
    max: 37.8740141
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 37.326010654300006
           1%: 37.761071217413146
           5%: 37.76105288695651
          25%: 37.7745126771087
          50%: 37.78341210806654
          75%: 37.79539200460083
          95%: 37.829701128442046
          99%: 37.868669448999995
        99.9%: 37.87351988580774

    mean: 37.771323969385996
    std: 0.08680616697004766
    variance: 0.007535310624031792
    skewness: -4.507611732549
    kurtosis: 20.077291553023525

ColumnProfile:
    column_name: end_station_longitude
    type: FieldType.DECIMAL

    min: -122.44429260492325
    max: -121.8759263
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -122.44429260492325
           1%: -122.42142316077482
           5%: -122.42165977142857
          25%: -122.41082719813755
          50%: -122.3987374646154
          75%: -122.39110526109816
          95%: -122.24959906239715
          99%: -121.88586618444447
        99.9%: -121.87690055560002

    mean: -122.36329141256938
    std: 0.10563559750051475
    variance: 0.01115887945929076
    skewness: 3.235970241186922
    kurtosis: 11.253624434695375

ColumnProfile:
    column_name: bike_id
    type: FieldType.INTEGER

    min: 12.0
    max: 3720.0
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 16.642962962962958
           1%: 309.83034714445694
           5%: 292.8684210526316
          25%: 796.640896140896
          50%: 1735.1943507148574
          75%: 2525.0335355578027
          95%: 3109.0003542510117
          99%: 3390.543838383838
        99.9%: 3678.1072

    mean: 1676.6442672741077
    std: 968.3571002383821
    variance: 937715.4735820881
    skewness: -0.07131081870602919
    kurtosis: -1.2218428204744065

ColumnProfile:
    column_name: user_type
    type: FieldType.STRING

    min: Customer
    max: Subscriber
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: member_birth_year
    type: FieldType.INTEGER

    min: 1924.0
    max: 1999.0
    count: 5268.0
    missing_count: 654.0
    not_missing_count: 4614.0
    percent_missing: 0.12414578587699317
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1943.4093333333333
           1%: 1965.6999999999998
           5%: 1965.0
          25%: 1974.598181818182
          50%: 1983.0
          75%: 1988.0
          95%: 1993.504901960784
          99%: 1996.7319298245616
        99.9%: 1999.0

    mean: 1980.59861291721
    std: 10.067371483842622
    variance: 101.35196859368762
    skewness: -0.857213350460693
    kurtosis: 0.4982776322261766

ColumnProfile:
    column_name: member_gender
    type: FieldType.STRING

    min:
    max: Other
    count: 5268.0
    missing_count: 0.0
    not_missing_count: 5268.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 652.0

It appears that we have quite a few missing values in `member_birth_year`. We also immediately see that we have some empty strings in our `member_gender` column. With the data profiler, we can quickly do a sanity check on our dataset and see where we might need to start data cleaning.

## 4. Transformation des données par l'exemple

Azure ML Data Prep comes with additional "smart" transforms created by Microsoft Research. Here, we'll look at how you can derive a new column by providing examples of input-output pairs. Rather than explicitly using regular expressions to extract dates or hours from datetimes, we can provide examples for Azure ML Data Prep to learn what the pattern is. In fact, these smart transformations can also handle more complex derivations like inferring the day of the week from datetimes.

In [9]:
sgb_derived = sampled_gobike\
    .to_string(
        columns=['start_time', 'end_time']
    )\
    .derive_column_by_example(
        source_columns='start_time',
        new_column_name='date',
        example_data=[('2017-12-31 16:57:39.6540', '2017-12-31'), ('2017-12-31 16:57:39', '2017-12-31')]
    )\
    .derive_column_by_example(
        source_columns='start_time',
        new_column_name='hour',
        example_data=[('2017-12-31 16:57:39.6540', '16')]
    )\
    .derive_column_by_example(
        source_columns='start_time',
        new_column_name='wday',
        example_data=[('2017-12-31 16:57:39.6540', 'Sunday')]
    )\
    .derive_column_by_example(
        source_columns='start_time',
        new_column_name='day',
        example_data=[('2017-12-31 16:57:39.6540', '31')]
    )\
      .derive_column_by_example(
        source_columns='start_time',
        new_column_name='month',
        example_data=[('2017-12-31 16:57:39.6540', '12')]
    )

In [10]:
sgb_derived.filter(dprep.col('wday') != 'Sunday').head(11)

,duration_sec,start_time,month,day,wday,hour,date,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,572,2017-12-30 18:19:05.731000,12,30,Saturday,18,2017-12-30,2017-12-30 18:28:37.825000,323,Broadway at Kearny,37.798014,-122.405950,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,3033,Customer,1996.0,Male
1,821,2017-12-30 18:13:05.124000,12,30,Saturday,18,2017-12-30,2017-12-30 18:26:46.365000,317,San Salvador St at 9th St,37.333955,-121.877349,304,Jackson St at 5th St,37.348759,-121.894798,2533,Subscriber,1970.0,Male
2,2789,2017-12-30 15:52:21.222000,12,30,Saturday,15,2017-12-30,2017-12-30 16:38:50.427000,121,Mission Playground,37.759210,-122.421339,120,Mission Dolores Park,37.761420,-122.426435,1837,Customer,NaN,
3,1380,2017-12-30 16:07:44.108000,12,30,Saturday,16,2017-12-30,2017-12-30 16:30:44.901000,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,241,Ashby BART Station,37.852477,-122.270213,1297,Customer,NaN,
4,198,2017-12-30 16:23:49.031000,12,30,Saturday,16,2017-12-30,2017-12-30 16:27:07.723000,76,McCoppin St at Valencia St,37.771662,-122.422423,76,McCoppin St at Valencia St,37.771662,-122.422423,364,Customer,NaN,
5,463,2017-12-30 15:43:11.552000,12,30,Saturday,15,2017-12-30,2017-12-30 15:50:55.004000,324,Union Square (Powell St at Post St),37.788300,-122.408531,44,Civic Center/UN Plaza BART Station (Market St ...,37.781074,-122.411738,762,Subscriber,1991.0,Female
6,1334,2017-12-30 14:21:05.333000,12,30,Saturday,14,2017-12-30,2017-12-30 14:43:20.036000,85,Church St at Duboce Ave,37.770083,-122.429156,17,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,974,Customer,NaN,
7,603,2017-12-30 14:15:40.583000,12,30,Saturday,14,2017-12-30,2017-12-30 14:25:43.785000,6,The Embarcadero at Sansome St,37.804770,-122.403234,323,Broadway at Kearny,37.798014,-122.405950,2359,Customer,NaN,
8,858,2017-12-30 13:52:14.755000,12,30,Saturday,13,2017-12-30,2017-12-30 14:06:32.916000,60,8th St at Ringold St,37.774520,-122.409449,36,Folsom St at 3rd St,37.783830,-122.398870,276,Customer,NaN,
9,1720,2017-12-30 12:13:24.174000,12,30,Saturday,12,2017-12-30,2017-12-30 12:42:04.366000,6,The Embarcadero at Sansome St,37.804770,-122.403234,99,Folsom St at 15th St,37.767037,-122.415442,617,Customer,1972.0,Female
10,370,2017-12-30 11:45:33.278000,12,30,Saturday,11,2017-12-30,2017-12-30 11:51:44.182000,197,El Embarcadero at Grand Ave,37.808848,-122.249680,200,2nd Ave at E 18th St,37.800214,-122.253810,1545,Subscriber,1974.0,Female

We can also filter on other column types; let's take a peek at rides that lasted over 5 hours.

In [11]:
sgb_derived.filter(dprep.col('duration_sec') > (60 * 60 * 5)).head(11)

,duration_sec,start_time,month,day,wday,hour,date,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.654000,12,31,Sunday,16,2017-12-31,2018-01-01 15:12:50.245000,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,19738,2017-12-27 10:08:32.337000,12,27,Wednesday,10,2017-12-27,2017-12-27 15:37:31.208000,95,Sanchez St at 15th St,37.766219,-122.431060,31,Raymond Kimbell Playground,37.783813,-122.434559,931,Customer,NaN,
2,22442,2017-12-15 12:24:44.370000,12,15,Friday,12,2017-12-15,2017-12-15 18:38:47.010000,275,Julian St at 6th St,37.342997,-121.888889,278,The Alameda at Bush St,37.331932,-121.904888,1872,Subscriber,1983.0,Male
3,27433,2017-11-06 08:33:58.415000,11,06,Monday,08,2017-11-06,2017-11-06 16:11:11.583000,75,Market St at Franklin St,37.773793,-122.421239,58,Market St at 10th St,37.776619,-122.417385,2291,Customer,NaN,
4,28467,2017-10-25 22:59:12.266000,10,25,Wednesday,22,2017-10-25,2017-10-26 06:53:39.765000,108,16th St Mission BART,37.764710,-122.419957,119,18th St at Noe St,37.761047,-122.432642,2423,Subscriber,1973.0,Male
5,22532,2017-10-05 18:08:47.166000,10,05,Thursday,18,2017-10-05,2017-10-06 00:24:19.285000,323,Broadway at Kearny,37.798014,-122.405950,4,Cyril Magnin St at Ellis St,37.785881,-122.408915,307,Subscriber,1987.0,Male
6,21050,2017-10-03 08:59:55.957000,10,03,Tuesday,08,2017-10-03,2017-10-03 14:50:46.614000,24,Spear St at Folsom St,37.789677,-122.390428,24,Spear St at Folsom St,37.789677,-122.390428,2818,Customer,NaN,
7,81686,2017-09-30 18:12:21.667000,09,30,Saturday,18,2017-09-30,2017-10-01 16:53:48.361000,6,The Embarcadero at Sansome St,37.804770,-122.403234,81,Berry St at 4th St,37.775880,-122.393170,2371,Customer,NaN,
8,29494,2017-09-23 11:08:56.665000,09,23,Saturday,11,2017-09-23,2017-09-23 19:20:31.620000,4,Cyril Magnin St at Ellis St,37.785881,-122.408915,6,The Embarcadero at Sansome St,37.804770,-122.403234,2210,Customer,NaN,
9,76987,2017-09-20 09:22:14.400000,09,20,Wednesday,09,2017-09-20,2017-09-21 06:45:21.472000,164,Isabella St at San Pablo Ave,37.814988,-122.274844,164,Isabella St at San Pablo Ave,37.814988,-122.274844,554,Customer,1977.0,Female
10,23040,2017-09-18 10:11:18.370000,09,18,Monday,10,2017-09-18,2017-09-18 16:35:18.664000,58,Market St at 10th St,37.776619,-122.417385,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2423,Customer,NaN,

## 5. Transformation des données

In addition to "smart" transformations, Azure ML Data Prep also supports many common data science transforms familiar to other industry-standard data science libraries. Here, we'll explore the ability to `summarize` and `replace`. We'll also get to use `join` when we handle assertions.

#### Agrégation

Azure Data Prep also makes it easy to append this output of `summarize` to the original table based on the grouping variable.

In [12]:
sgb_appended = sgb_derived\
    .summarize(
        summary_columns=[
            dprep\
                .SummaryColumnsValue(
                    column_id='duration_sec', 
                    summary_column_name='duration_sec_mean', 
                    summary_function=dprep.SummaryFunction.MEAN
                )
        ],
        group_by_columns=['date'],
        join_back=True
    )
sgb_appended.head(11)

,duration_sec,start_time,month,day,wday,hour,date,end_time,start_station_id,start_station_name,...,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,duration_sec_mean
0,80110,2017-12-31 16:57:39.654000,12,31,Sunday,16,2017-12-31,2018-01-01 15:12:50.245000,74,Laguna St at Hayes St,...,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,5309.111111
1,1397,2017-12-31 23:55:09.686000,12,31,Sunday,23,2017-12-31,2018-01-01 00:18:26.721000,78,Folsom St at 9th St,...,-122.411647,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,1667,Customer,NaN,,5309.111111
2,2511,2017-12-31 22:58:26.524000,12,31,Sunday,22,2017-12-31,2017-12-31 23:40:17.987000,30,San Francisco Caltrain (Townsend St at 4th St),...,-122.395282,6,The Embarcadero at Sansome St,37.804770,-122.403234,3329,Customer,NaN,,5309.111111
3,901,2017-12-31 22:17:39.910000,12,31,Sunday,22,2017-12-31,2017-12-31 22:32:41.630000,66,3rd St at Townsend St,...,-122.392741,23,The Embarcadero at Steuart St,37.791464,-122.391034,3569,Customer,NaN,,5309.111111
4,853,2017-12-31 21:22:37.643000,12,31,Sunday,21,2017-12-31,2017-12-31 21:36:51.179000,14,Clay St at Battery St,...,-122.399970,8,The Embarcadero at Vallejo St,37.799953,-122.398525,101,Customer,NaN,,5309.111111
5,189,2017-12-31 20:48:37.492000,12,31,Sunday,20,2017-12-31,2017-12-31 20:51:46.658000,37,2nd St at Folsom St,...,-122.395936,48,2nd St at S Park St,37.782411,-122.392706,1056,Customer,1988.0,Male,5309.111111
6,1208,2017-12-31 19:56:43.394000,12,31,Sunday,19,2017-12-31,2017-12-31 20:16:51.551000,13,Commercial St at Montgomery St,...,-122.402923,6,The Embarcadero at Sansome St,37.804770,-122.403234,2736,Subscriber,1994.0,Male,5309.111111
7,426,2017-12-31 17:11:48.331000,12,31,Sunday,17,2017-12-31,2017-12-31 17:18:55.001000,123,Folsom St at 19th St,...,-122.414817,134,Valencia St at 24th St,37.752428,-122.420628,2256,Subscriber,1991.0,Male,5309.111111
8,962,2017-12-31 16:57:20.930000,12,31,Sunday,16,2017-12-31,2017-12-31 17:13:23.560000,176,MacArthur BART Station,...,-122.266315,231,14th St at Filbert St,37.808750,-122.283282,305,Customer,NaN,,5309.111111
9,204,2017-12-31 15:26:41.663000,12,31,Sunday,15,2017-12-31,2017-12-31 15:30:06.146000,86,Market St at Dolores St,...,-122.426826,95,Sanchez St at 15th St,37.766219,-122.431060,2183,Subscriber,1992.0,Male,5309.111111
10,819,2017-12-31 15:06:20.173000,12,31,Sunday,15,2017-12-31,2017-12-31 15:19:59.864000,81,Berry St at 4th St,...,-122.393170,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,464,Customer,1994.0,Female,5309.111111

#### Remplacement des valeurs manquantes

Recall that our `member_gender` column had empty strings that stood in place of `None`. Let's use our `replace` function to properly recode them as `None`s.

In [13]:
sgb_replaced = sampled_gobike.replace_na(columns=['member_gender'])
sgb_replaced.head(11)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.654,2018-01-01 15:12:50.245,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,1397,2017-12-31 23:55:09.686,2018-01-01 00:18:26.721,78,Folsom St at 9th St,37.773717,-122.411647,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,1667,Customer,NaN,None
2,2511,2017-12-31 22:58:26.524,2017-12-31 23:40:17.987,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,6,The Embarcadero at Sansome St,37.804770,-122.403234,3329,Customer,NaN,None
3,901,2017-12-31 22:17:39.910,2017-12-31 22:32:41.630,66,3rd St at Townsend St,37.778742,-122.392741,23,The Embarcadero at Steuart St,37.791464,-122.391034,3569,Customer,NaN,None
4,853,2017-12-31 21:22:37.643,2017-12-31 21:36:51.179,14,Clay St at Battery St,37.795001,-122.399970,8,The Embarcadero at Vallejo St,37.799953,-122.398525,101,Customer,NaN,None
5,189,2017-12-31 20:48:37.492,2017-12-31 20:51:46.658,37,2nd St at Folsom St,37.785000,-122.395936,48,2nd St at S Park St,37.782411,-122.392706,1056,Customer,1988.0,Male
6,1208,2017-12-31 19:56:43.394,2017-12-31 20:16:51.551,13,Commercial St at Montgomery St,37.794231,-122.402923,6,The Embarcadero at Sansome St,37.804770,-122.403234,2736,Subscriber,1994.0,Male
7,426,2017-12-31 17:11:48.331,2017-12-31 17:18:55.001,123,Folsom St at 19th St,37.760594,-122.414817,134,Valencia St at 24th St,37.752428,-122.420628,2256,Subscriber,1991.0,Male
8,962,2017-12-31 16:57:20.930,2017-12-31 17:13:23.560,176,MacArthur BART Station,37.828410,-122.266315,231,14th St at Filbert St,37.808750,-122.283282,305,Customer,NaN,None
9,204,2017-12-31 15:26:41.663,2017-12-31 15:30:06.146,86,Market St at Dolores St,37.769305,-122.426826,95,Sanchez St at 15th St,37.766219,-122.431060,2183,Subscriber,1992.0,Male
10,819,2017-12-31 15:06:20.173,2017-12-31 15:19:59.864,81,Berry St at 4th St,37.775880,-122.393170,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,464,Customer,1994.0,Female

## Assert on invalid data

In [14]:
gb_asserted = gobike\
    .assert_value(
        columns='member_birth_year', 
        expression=dprep.f_or(dprep.value.is_null(), dprep.value <= 1920),
        error_code='InvalidDate'
    )

Now, we can filter to see what caused the errors above:

In [15]:
gb_errors = gb_asserted.filter(dprep.col('member_birth_year').is_error())
gb_errors.head(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.654,2018-01-01 15:12:50.245,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,"azureml.dataprep.native.DataPrepError(""'Invali...",Male
1,78800,2017-12-31 15:56:34.842,2018-01-01 13:49:55.617,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,"azureml.dataprep.native.DataPrepError(""'Invali...",Female
2,43603,2017-12-31 14:23:14.001,2018-01-01 02:29:57.571,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,"azureml.dataprep.native.DataPrepError(""'Invali...",Female
3,4507,2017-12-31 23:49:28.422,2018-01-01 01:04:35.619,259,Addison St at Fourth St,37.866249,-122.299371,259,Addison St at Fourth St,37.866249,-122.299371,3539,Customer,"azureml.dataprep.native.DataPrepError(""'Invali...",Female
4,2183,2017-12-31 23:52:55.581,2018-01-01 00:29:18.743,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,24,Spear St at Folsom St,37.789677,-122.390428,2311,Subscriber,"azureml.dataprep.native.DataPrepError(""'Invali...",Male

#### Jointure
But what were the original values? Let's use `join` to figure out what the values were that caused our assert to throw an error.

In [16]:
gb_errors.join(
    left_dataflow=gb_errors,
    right_dataflow=gobike,
    join_key_pairs=[
        ('duration_sec', 'duration_sec'),
        ('start_station_id', 'start_station_id'),
        ('bike_id', 'bike_id')
    ]
).head(11)

,l_duration_sec,l_start_time,l_end_time,l_start_station_id,l_start_station_name,l_start_station_latitude,l_start_station_longitude,l_end_station_id,l_end_station_name,l_end_station_latitude,...,r_start_station_latitude,r_start_station_longitude,r_end_station_id,r_end_station_name,r_end_station_latitude,r_end_station_longitude,r_bike_id,r_user_type,r_member_birth_year,r_member_gender
0,80110,2017-12-31 16:57:39.654,2018-01-01 15:12:50.245,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,...,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987,Male
1,78800,2017-12-31 15:56:34.842,2018-01-01 13:49:55.617,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965,Female
2,43603,2017-12-31 14:23:14.001,2018-01-01 02:29:57.571,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,...,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997,Female
3,4507,2017-12-31 23:49:28.422,2018-01-01 01:04:35.619,259,Addison St at Fourth St,37.866249,-122.299371,259,Addison St at Fourth St,37.866249,...,37.866249,-122.299371,259,Addison St at Fourth St,37.866249,-122.299371,3539,Customer,1991,Female
4,2183,2017-12-31 23:52:55.581,2018-01-01 00:29:18.743,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,24,Spear St at Folsom St,37.789677,...,37.776639,-122.395526,24,Spear St at Folsom St,37.789677,-122.390428,2311,Subscriber,1990,Male
5,2170,2017-12-31 23:52:55.937,2018-01-01 00:29:06.924,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,24,Spear St at Folsom St,37.789677,...,37.776639,-122.395526,24,Spear St at Folsom St,37.789677,-122.390428,3717,Subscriber,1990,Male
6,1544,2017-12-31 23:53:38.943,2018-01-01 00:19:23.047,14,Clay St at Battery St,37.795001,-122.399970,27,Beale St at Harrison St,37.788059,...,37.795001,-122.399970,27,Beale St at Harrison St,37.788059,-122.391865,558,Subscriber,1980,Female
7,1474,2017-12-31 23:54:40.146,2018-01-01 00:19:14.351,14,Clay St at Battery St,37.795001,-122.399970,27,Beale St at Harrison St,37.788059,...,37.795001,-122.399970,27,Beale St at Harrison St,37.788059,-122.391865,3646,Subscriber,1979,Male
8,1532,2017-12-31 23:52:49.497,2018-01-01 00:18:21.953,78,Folsom St at 9th St,37.773717,-122.411647,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,...,37.773717,-122.411647,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,3114,Subscriber,1988,Other
9,1216,2017-12-31 23:46:33.993,2018-01-01 00:06:50.058,4,Cyril Magnin St at Ellis St,37.785881,-122.408915,123,Folsom St at 19th St,37.760594,...,37.785881,-122.408915,123,Folsom St at 19th St,37.760594,-122.414817,1473,Subscriber,1971,Male
10,386,2017-12-31 23:59:01.261,2018-01-01 00:05:27.809,317,San Salvador St at 9th St,37.333955,-121.877349,296,5th St at Virginia St,37.325998,...,37.333955,-121.877349,296,5th St at Virginia St,37.325998,-121.877120,1603,Subscriber,1992,Male

If we look at `r_member_birth_year`, we see that these people were listed as being born in 1886. That's impossible! Now that we've identified outliers and anomalies, we can appropriately clean our data however we like.

> Documentation
https://docs.microsoft.com/fr-fr/python/api/overview/azure/dataprep/intro?view=azure-dataprep-py

> Fin